 body{
	  font-family:Arial;
	  margin-left: 80px;
	  margin-right:80px;
	  font-size:14px ;
	  }
	  input {
      width: 25%;
	  padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
	  border-radius: 7px;
	  border-width: thin;
	  border-color:#eaecf0 ;
      }
	  #logo{
	  width:100px;
	  height:auto;
	  }
	  .form-container{
	  text-align:center;
	  }
	  #welcomeback{
	  font-family:serif;
	  font-weight:normal;
	  font-size: 2.20rem;
	  border-bottom:0px;
	  line-height:0;
	  }
	  label{
	  line-height:3;
	  }
	  .enter_details{
	   line-height:0;
	  }
	  
	  #sign1{
	  width: 25%;
	  padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
	  border-radius: 7px;
	  border:none;
	  color:white;
	  background-color:#FDAb9f;
	  font-weight:bold;
	  }
	  #signinwithg{
	  width: 25%;
		   <button id="signinwithg"><img id="g_img" src="icons8-google-48.png" alt="My website" class="logo">Sign In with Google</button>
	  padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
	  border-radius: 7px;
	  border-width: thin;
	  background-color:#ffffff;
	  font-weight:bold;
	  }
	  #g_img{
	  width:30px;
	  height:30px;
	  float:left;
	  }
	  @media (max-width: 768px) {
      .logo {
       width: 45px; /* Adjust size for smaller  screens */
	  }
	  
	 
    }
}

